#page-wrap {
    width: 900px;
    margin: 10px auto;
}

span {
    padding: 4px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: 4px 0;
}


#tips p {
    color: #800;
    margin: 4px 0;
}

#tips {
    background: #fff1a8;
    padding: 3px;
}


a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    background: #ddd;
}

a:hover {
    background: #ccc;
}

.group {
    padding: 6px 13px;
    float: left;
    /* border: 1px solid #cecefe; */
}

.groups {
    margin: 10px;
}

.group:hover {
    border-radius: 4px;
    background: #ddd;
}
